@import url(main/profile__main.css);
@import url(avatar/profile__avatar.css);
@import url(info/profile__info.css);
@import url(row/profile__row.css);
@import url(name/profile__name.css);
@import url(description/profile__description.css);

.profile {
  width: 100%;
  padding-top: 40px;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
          align-items: center;
}
